{
  "extends": "eslint-config-8pointers",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "globals": {
    "__": false,
    "beforeAll": false,
    "beforeEach": false,
    "afterAll": false,
    "afterEach": false,
    "describe": false,
    "expect": false,
    "jest": false,
    "test": false,
    "window": true
  },
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "space-before-function-paren": ["error", "never"]
  }
}
